* {
  margin: 0;
  padding: 0;
  font-family: "メイリオ"; }

body {
  width: 300px;
  height: 400px;
  border: solid 1px #777;
  background-color: #EEE; }

div#foreground-view {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  display: none; }
  div#foreground-view h3 {
    margin-top: 50%;
    text-align: center; }

h1 {
  color: #CCC;
  font-size: 17px;
  line-height: 1;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#737373), to(#262626));
  text-shadow: -1px -1px 2px #222222, 1px 1px 1px #444444; }

div#container {
  width: 100%;
  height: 363px;
  overflow-y: scroll; }
  div#container p {
    font-size: 13px;
    padding-top: 130px;
    color: #888;
    text-align: center; }

form {
  padding: 8px;
  font-size: 13px;
  line-height: 1; }

div.rewrite {
  font-size: 13px;
  line-height: 1;
  padding: 6px 0;
  display: -webkit-box; }
  div.rewrite div.name {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 5px; }
  div.rewrite div.button {
    color: #666;
    width: 30px;
    text-align: center;
    padding: 4px;
    margin: 0 3px;
    border-radius: 5px;
    border: solid 1px #888;
    background-color: #AAA;
    box-shadow: inset 1px 1px 3px #777; }
    div.rewrite div.button:not(.selected):hover {
      color: #EEE;
      text-shadow: 0 0 2px #EEE;
      cursor: pointer; }
    div.rewrite div.button.on.selected {
      border: solid 1px #75da6d;
      background-color: #90e68a;
      box-shadow: none;
      color: white;
      cursor: default; }
    div.rewrite div.button.off.selected {
      border: solid 1px #e26a6a;
      background-color: #f98484;
      box-shadow: none;
      color: white;
      cursor: default; }
